body {
    font-family: 'Open Sans';
    margin: 0px;
}

div.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand';
}

div.header {
    color: white;
    background-color: purple;
    padding: 1em;
}

div.header a {
    color: white;
    text-decoration: none;
}

div.header ol.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

div.header ol.menu li {
    padding: 0px;
    margin: 0px;
    margin-right: 1em;
}

div.body {
    padding: 1em;
    flex: 1;
}

table.talk-table {
    text-align: left;
    border-spacing: 1em;
}

table.talk-table th {
    color: purple;
    font-weight: bolder;
}

div.footer {
    background-color: purple;
    color: white;
    padding: 1em;
}
