body {
 
}

ol.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
}

ol.menu li {
    padding: 0px;
    margin: 0px;
    margin-right: 1em;
}


